:root {
  --text-white: rgb(255, 255, 255);
  --mid-blue: rgb(0, 0, 200);
  --dark-blue: rgb(0, 0, 150);
  --light-pink: rgb(229, 208, 255);
  --dark-pink: rgb(191, 139, 255);
}

#board {
  position: relative;
  top: 4vh;
  max-width: 400px;
  height: 92vh;
  min-height: 600px;
  margin: 0 auto;
  border: 2px solid var(--mid-blue);
  box-shadow: 5px 5px var(--dark-blue);
  border-radius: 4px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  #board {
    top: 0;
    height: 100vh;
    max-width: 100vw;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}

.button {
  position: relative;
  display: block;
  left: 20%;
  width: 60%;
  background-color: var(--light-pink);
  border: 2px solid var(--dark-pink);
  border-radius: 3px;
  box-shadow: 3px 3px var(--dark-pink);
  margin: 20px 0;
  font-size: 20px;
  font-weight: 900;
  color: var(--dark-blue);
  padding: 10px;
}

.button:hover {
  background-color: var(--dark-pink);
  border-radius: 3px;
  box-shadow: 3px 3px var(--light-pink);
  color: white;
}

#title {
  position: absolute;
  /* top: 10%; */
  width: 100%;
  padding: 5%;
  background-color: var(--mid-blue);
  color: var(--text-white);
}

#buttons {
  position: absolute;
  top: 20%;
  width: 100%;
}

#instructions {
  position: absolute;
  top: 66%;
  left: 10%;
  width: 80%;
  padding: 5%;
  background-color: var(--text-white);
  color: var(--dark-blue);
  border: 2px solid var(--mid-blue);
  box-shadow: 5px 5px var(--dark-blue);
  border-radius: 4px;
}

#easy-mole {
  background-color: rgb(120, 196, 253);
  box-shadow: 2px 2px rgb(62, 172, 255);
  border: 2px solid rgb(120, 196, 253);
  margin: 10px auto;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}
